<div class="post">
	<div class="header">
		<h1>Post Title</h1>
		<button routerLink="/" class="btn btn-link">На главную</button>
	</div>
	<div class="info">
		<strong>Тут автор</strong>
		<small>2.04.22</small>
	</div>
	<div class="">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, odio. Quae magni impedit sed accusantium. Iusto
			fugiat minus atque distinctio.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, odio. Quae magni impedit sed accusantium. Iusto
			fugiat minus atque distinctio.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, odio. Quae magni impedit sed accusantium. Iusto
			fugiat minus atque distinctio.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, odio. Quae magni impedit sed accusantium. Iusto
			fugiat minus atque distinctio.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, odio. Quae magni impedit sed accusantium. Iusto
			fugiat minus atque distinctio.</p>
	</div>
</div>